<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <!-- navegacion -->

    <header>
        <h1> CRUD USUARIOS </h1>
        <nav>
            <ul>
                <li><a href=" {{ url_for('user') }} "> user </a></li>
            </ul>
        </nav>
    </header>

    <!-- body -->

    {% block content %}


    {% endblock  %}
    
    
    
</body>
</html>